.contentIframeClass {
    width: 90vw; /* 90% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    overflow: hidden;
    
    /* Styling for the card appearance */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Shadow around the card */
    
    /* Optional: Set max width and height to avoid the iframe from exceeding the screen size */
    max-width: 1920px; /* Maximum width */
    max-height: 1080px; /* Maximum height */
}


.dummyIFrameClass {
	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 15px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 30px;
	visibility: hidden;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
html, body {
	margin: 0;
    background:  #333333; /* Dark grey to black gradient */
}
